<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>系统错误</title>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css">
</head>
<body>
    <div class="weui-msg">
        <div class="weui-msg__icon-area">
            <i class="weui-icon-warn weui-icon_msg"></i>
        </div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">系统错误</h2>
            <p class="weui-msg__desc">请联系走之旅行：18510248672</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="javascript:history.back();"
                    class="weui-btn weui-btn_primary">重试</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="/aboutus" class="weui-footer__link">走之旅行</a>
                </p>
                <p class="weui-footer__text">Copyright &copy;
                    2008-2016 <a href="https://www.hxytravel.com/">hxytravel.com</a></p>
            </div>
        </div>
    </div>
</body>
</html>
