<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>微信支付 -- 海逍遥带您旅行</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="renderer" content="webkit">
</head>
<body>
    <div>能看到我吗？</div>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
    wx.config({
        'debug': false,
        'appId': '${config_appid}',
        'timestamp': '${config_timestamp}', 
        'nonceStr': '${config_nonceStr}', 
        'signature': '${config_signature}',
        'jsApiList': ['chooseWXPay']
    });

    wx.ready(function(){
        wx.checkJsApi({
            'jsApiList': ['chooseWXPay'], 
            'success': function(res) {
                if (isError(res.errMsg) || !res.checkResult.chooseWXPay) {
                    hxyError(res, "check res error");
                    return;
                }
                wx.chooseWXPay({
                    'timestamp': '${pay_timestamp}', 
                    'nonceStr': '${pay_nonceStr}', 
                    'package': '${pay_package}',
                    'signType': '${pay_signType}',
                    'paySign': '${pay_paySign}', 
                    'success': function (res) {
                        window.location.pathname = '/order/wxpay/result';
                    },
                    'fail': function(e) {
                        hxyError(e, "pay failed");
                    }
                });
            },
            'fail': function(e, tag) {
                hxyError(e, "check failed");
            }
        });
    });
    
    wx.error(function(res){
        hxyError(res, "global error");
    });
    
    function hxyError(e, tag) {
        alert('失败，请直接联系海逍遥:${hxy_hotline}, ' + JSON.stringify(e) + ', tag: ' + tag);
    }
    
    function isError(errMsg) {
        return errMsg.split(':')[1] != 'ok';
    }
                </script>
</body>
</html>
